<style>
  img.image--desktop{display:block;max-width:100%}
  img.image--mobile{display:none;max-width:100%}
  @media(max-width:450px){
    img.image--desktop{display:none}
  img.image--mobile{display:block;}
  }
</style>
<div class="collection-banner">
  {% if section.settings.coll_desk_img != blank  %}
  <img class="image--desktop" src="{{ section.settings.coll_desk_img | img_url:'master' }}" alt="{{ section.settings.coll_desk_img.alt }}" width="100%" height="100%">
  <img class="image--mobile" src="{% if section.settings.coll_mob_img != blank %}{{ section.settings.coll_mob_img | img_url:'master' }}{% else %}{{ section.settings.coll_desk_img | img_url:'master' }}{% endif %}" alt="{% if section.settings.coll_mob_img != blank %}{{ section.settings.coll_mob_img.alt }}{% else %}{{ section.settings.coll_desk_img.alt }}{% endif %}" width="100%" height="100%">
{% endif %}
</div>
{% schema %}
  {
    "name": "Collection banner",
    "settings": [
      {
        "type":"image_picker",
        "id":"coll_desk_img",
        "label":"Collection Image Desktop",
        "info":"Connect the metafield from collections"
      },
      {
        "type":"image_picker",
        "id":"coll_mob_img",
        "label":"Collection Image mobile",
        "info":"Connect the metafield from collections"
      }
    ],
    "presets":[
      {
        "name":"Collection Banner"
      }
    ]
  }
{% endschema %}