<style>
  .flex-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .img-dflex {
    width: 50%;
}
  .text-dflex {
    width: 50%;
    padding: 30px;
    text-align: center;
}
  .image_first{flex-direction:row};
  .text_first{flex-direction:row-reverse}
  .text-dflex p {
    font-size: 24px;
    padding: 0 40px;
    margin-top: -7px;
    line-height: 35px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.9px;
}
.text-dflex h2 {
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}
</style>
<section class="flex-box collection">
  {% for block in section.blocks %}
  <div class="flex-inner flex-{{ forloop.index }}" id={{ block.id }}>
    <div class="img-dflex {% if block.settings.layout_flex == 'img_first' %}image_first{% else %}text_first{% endif %}">
      <img class="flex-img" src="{{ block.settings.collection_img | img_url:'master' }}" alt="{{ block.settings.collection_img.alt }}" width="100%" height="100%">
    </div>
    <div class="text-dflex" style="background-color:{{ block.settings.container-color }}">
      <h2>{{ block.settings.collection-heading | escape }}</h2>
      <p>{{ block.settings.collection-body | escape }}</p>
      <div class="button-coll">
        <a href="{{ block.settings.collection-url }}">{{ block.settings.bu_label }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% schema %}
  {
    "name": "Exclusive Collection",
    "settings": [],
    "blocks":[
      {
        "name":"Collection BLock",
        "type":"image",
        "settings":[
          {
            "type":"image_picker",
            "id":"collection_img",
            "label":"Select Collection Image",
            "info":"Recommended size: 1024 x 729"
          },
          {
            "type":"color",
            "id":"container-color",
            "label":"Select Color for container"
          },
          {
            "type":"text",
            "id":"collection-heading",
            "label":"Enter Collection Heading"
          },
          {
            "type":"text",
            "id":"collection-body",
            "label":"Enter collection Label"
          },
          {
            "type":"url",
            "id":"collection-url",
            "label":"Select Collection URL"
          },
          {
          "type":"select",
          "id":"layout_flex",
          "options":[
            {
              "value":"img_first",
              "label":"Image FIrst"
            },
            {
              "value":"text_first",
              "label":"Text First"
            }
          ],
          "default":"img_first",
          "label":"Select Layout"
        },
          {
            "type":"text",
            "id":"bu_label",
            "label":"Enter Button Label"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Exclusive Collection Block"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}